# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db